
.icon-pencil:before { content: '\e800'; } /* '' */
.icon-settings:before { content: '\e801'; } /* '' */
.icon-truck-2:before { content: '\e802'; } /* '' */
.icon-diamond:before { content: '\e803'; } /* '' */